- if @clients.present? && @clients["clients"].present?
  - @clients["clients"].each do |client|
    %label.text-center.company-element               
      %input.sr-only{name: "job[extra][filtered_notifications][client_ids][]", value: client["id"], type: "checkbox", checked: true} 
      .client-box
        %img{src: client["logo"]}    
        = client["name"]
        .client-link
          = link_to client['url'], target: "_blank" do
            %i.fa.fa-external-link 
- else
  %h3 No matching companies found
  %div{style: "display: none;"}
    %p= debug @clients
    %p= debug params

%style=Apps::Application.assets.find_asset('filtered_notifications.css').body.html_safe