%h4 You're all set to add your jobs to Indeed!

%p
  You will find a link below to your job feed, designed for use with Indeed.com.
%p
  For more information on how to use this feed,
  %a{href: 'https://ads.indeed.com/includejobs'}click here.

%pre{style: 'display: inline-block'} http://#{@host}/api/v1/jobs/indeed.xml