= image_tag(image_url('prs.png'), class: 'pull-right')
%h4 Application emails are compatible with PRS

%p
  Application emails are specially formatted so Mail Data can be extracted cy the PRS InBox Tool

%p
  This adheres to the format outlined in the documentation at
  = link_to 'http://www.methods.co.nz/prs/prs_user_guides/index.html?mail_data.htm'

%p
  You can contact PRS NZ support on the following number:
%p
  +64 9 415 6259