.row
  .col-xs-12
    .well
      = @jobs
      remaining
.row
  .col-xs-12
    .spinner

:javascript
  setTimeout(function(){reload_page();},5000)

  function reload_page() {
    var loc_array = location.href.split('/')
    if(loc_array[(loc_array.length -1)] == 'importing' || loc_array[(loc_array.length -1)] == 'importing?importing=true') {
      location = '#{importing_data_import_file_path(@file)}';
    }
  }