%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
%script#mercuryxrm-widget{"data-div" => "mercuryxrm-remote", "data-key" => "XmGJfj9MNt2/laBFUqUoHVc2A+gL4QumkK7dj59CyrG4g4eAPbSJJ+Z/1QI8CMOo1rv6wb+IpYbHiz4HV36HOA==", :src => "https://redsandbox-portals.azurewebsites.net/Mercury.CandidatePortal/app/PortalWidget.js"}

.row
  .col-md-12
    .well
      #mercuryxrm-widget