%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
/ %script#mercuryxrm-widget{"data-div" => "mercuryxrm-remote", "data-key" => "#{@encrypted_email}", :src => "http://xrmportalsdev-systest.azurewebsites.net/mercury.candidateportal/app/PortalWidget.js"}

%script#mercuryxrm-widget{"data-div" => "mercuryxrm-remote", "data-key" => "QZv0Hr58jU8oZcnk/jE4oa+Qoy0LBBGcDpPRNpSta/4=", :src => "http://xrmportalsdev-systest.azurewebsites.net/mercury.candidateportal/app/PortalWidget.js"}

.row{style: "margin-top: 40px; margin-bottom: 40px;"}
  .col-md-12{style: "padding: 0;"}
    .well
      #mercuryxrm-remote{style: "position: relative;"}

:javascript
  $(document).ready(function() {
    $("div #mercuryxrm-remote div.navbar.navbar-inverse.navbar-fixed-top").css("position", "absolute");
  });