%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
%script#mercuryxrm-widget{"data-div" => "mercuryxrm-remote", "data-key" => @encrypted_email, :src => "https://red-portals.azurewebsites.net/mercury.candidateportal/app/portalwidget.js"}

.row.gray-panel
  .col-md-12{style: "padding-left: 0px; padding-right: 0px;"}
    #mercuryxrm-remote