:css
  #haml-structure .col-md-12 #mercuryxrm-remote .mx-portal .glyphicon{background: none;}
  #haml-structure .col-md-12 #mercuryxrm-remote .mx-portal a.btn{background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat: repeat-x;  
  }

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
%script#mercuryxrm-widget{"data-div" => "mercuryxrm-remote", "data-key" => @encrypted_email, :src => @mercury_url}

/ .row{style: "display: none"}
.row{style: "display: none"}
  %p= "Email: #{@encrypted_email}"
  %p= "URL:   #{@mercury_url}"

.row.gray-panel
  .col-md-12{style: "padding-left: 0px; padding-right: 0px;"}
    #mercuryxrm-remote