.row{style: "border: 1px solid green; margin-top: 40px; margin-bottom: 40px;"}
  .col-md-12
    %h2 Mercury Dashboard (from VA)

    %p This view is rendered from Volcanic Apps
    %p Here: we would render the *script* tag with this email (Base64 AES Encrypted):
    %p{style: "color: blue;"}= @encrypted_email