.volcanic_apps
  .row
    #flash_messages
  - if @settings.present? && @settings.access_token.present?
    .row
      .container
        %h2 Mailchimp Volcanic App
        %h6
          Your account is authorised.
    = render partial: 'conditions_form'
  - else
    .row
      .container
        %p
          Please click the button below to authorize your account.
        %br
          = link_to "Authorize Access", "#{@auth_url}", class: 'btn btn-info btn-lg'