.col-sm-10.col-sm-offset-1

  %a{href: 'https://action.recruitics.com/dashboard', target: :_blank}
    .well{style: 'text-align: center;'}
      %span.btn.btn-info Sign in to Recruitics

  .panel.panel-default
    .panel-heading
      %h4.panel-title Your Jobs XML feed
    .panel-body
      .col-xs-12 
        %a{href: "#{@settings.settings[:url]}?api_key=#{@key.api_key}", target: :_blank}
          .text-center
            #{@settings.settings[:url]}?api_key=#{@key.api_key}
