.volcanic_apps
  .row
    .col-md-3
      Image here pls

    .col-md-9
      %h3 Arithon automates sending and receiving data from your website.
      %hr.featurette-divider

      %p
        You can contact Arithon UK Support on the following number:
      %p
        Number here pls

      %br

      #flash_messages