.volcanic_apps
  .row
    .col-md-3
      = image_tag(image_url('arithon_logo.png'), class: 'img-responsive')

    .col-md-9
      %h3 Arithon automates sending and receiving data from your website.
      %hr.featurette-divider

      %p
        You can contact Arithon UK Support on the following number:
      %p
        +44 (0)800 078 9018

      %br

      #flash_messages