= image_tag(image_url('bb_logo.png'), class: 'pull-right')
%h4 Broadbean is able to post jobs to this website.

%p
  You can contact Broadbean UK Support on the following numbers:
%p
  Sales: +44 (0)20 7536 1661
  %br
  Support: +44 (0)20 7536 1668