= f.simple_fields_for :bullhorn_field_mappings do |bfm|
  .row
    .col-md-5= bfm.input :bullhorn_field_name
    .col-md-5= bfm.input :registration_question_reference
    .col-md-2= bfm.input :sync_from_bullhorn
  %hr