.volcanic_apps
  .row
    .col-md-3
      = image_tag(image_url('Bullhorn_Logo.png'), class: 'img-responsive')

    .col-md-9
      %h3 This Bullhorn App sync's Candidate, Job and Application data between Volcanic and Bullhorn
      %hr.featurette-divider

      %p
        You can contact Bullhorn UK Support on the following number:
      %p
        0800 032 2848

      %br

      #flash_messages