.volcanic_apps
  .row
    .col-md-3
      = image_tag(image_url('bullhorn.jpg'), class: 'img-responsive')

    .col-md-9
      %h3 This Bullhorn App sync's Candidate, Job and Application data between Volcanic and Bullhorn
      %hr.featurette-divider

      %p
        You can contact Bullhorn UK Support on the following number:
      %p
        0800 032 2848

      %br

      #flash_messages

      .row
        .col-md-12
          %p Add your API User authentication settings and field mappings below.
          #settings_form
            = render partial: 'settings_form'
