= image_tag(image_url('Yu_Talent_Logo.png), class: 'pull-right')
%h4 Yu Talent Yu Talent automates sending and receiving data from your website.

%p
  You can contact Yu Talent UK Support on the following number:
%p
  +44 (0)870 147 146
