%h4 Referrals

%ul
  %li= link_to 'Referrals Overview', relative_link('referrals_for_period')
  %li= link_to 'Most Referrals List', relative_link('most_referrals')
  %li= link_to 'Payment Form', relative_link('payment_form')
  %li= link_to 'Download Report for Referrals', 'http://localhost:3001/referrals/referral_report.csv', data: { confirm: 'All referrals in the report will be set as paid, are you sure you want to download the report?' }