- if flash[:notice]
  .alert.alert-success
    %button.close{type: "button", data: {dismiss: "alert"}} ×
    = raw(flash[:notice])
- if flash[:alert]
  .alert.alert-danger
    %button.close{type: "button", data: {dismiss: "alert"}} ×
    = raw(flash[:alert])
