.volcanic_apps.mailchimp-app
  - if @setting.present? && @setting.access_token.present?
    .row
      .col-xs-12
        %h2 Twitter App
        %h6 Your account is authorised.
  - else
    .row
      .col-xs-12
        %h2 Twitter App
        %p
          Please click the button below to authorize your account.
        %br
        = link_to 'Authorize Access', @authorize_url, class: 'btn btn-info btn-lg'