= image_tag(image_url('lm_logo.png'), class: 'pull-right')
%h4 Logic Melon is able to post jobs to this website.

%p
  You can contact Logic Melon UK Support on the following number:
%p
  +44 (0)845 126 3997