= image_tag(image_url('Talent-Rover-Logo.jpg'), class: 'pull-right')
%h4 The Talent Rover Job feed can be used to import jobs to this website.

%p
  You can contact Talent Rover UK Support on the following number:
%p
  +44 (0) 203 355-2315