.volcanic_apps
  .row
    .col-lg-3.col-md-12
    .col-lg-6.col-md-12
      %h3 This V10 App sync's Job data between Volcanic V9 and Volcanic V10
      %hr

      #flash_messages
      .row
        .col-md-12
          #v10_settings_form
            = render partial: 'v10_form'

