:javascript
    // START -- GOOGLE CHARTS --//
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
      var data = new google.visualization.arrayToDataTable(#{[['date', 'Traffic/Keyword']] + @chart_traffic_day_keyword_data});
      var top_keywords_traffic = new google.visualization.arrayToDataTable(#{[['Keyword', '% Traffic']] + @actual_top_keywords_traffic});

      var options = {
        title: '% of Traffic per Keyword - Last month',
        width: '100%',
        height: 350,
        legend: {position: 'none'},
        colors: ['#FFA243'],
        fontSize: 16,
        hAxis: {
          title: 'Days',
          format: '#,###%',
          gridlines: {
            units: {
              years: {format: ['%Y']},
              months: {format: ['%m']},
              days: {format: ['%d']}
            }
          }
        },
        vAxis: {
          title: '% Traffic(0-100)'
        }
      };
      var top_keywords_traffic_options = {
        title: "Today's Top 10 Keywords per %Traffic created",
        width: '100%',
        height: 350,
        colors: ['#FFA243'],
        fontSize: 16,
        hAxis: {
          title: 'Keywords',
          format: '#,###%',
          gridlines: {
            units: {
              years: {format: ['%Y']},
              months: {format: ['%m']},
              days: {format: ['%d']}
            }
          }
        },
        vAxis: {
          title: '% Traffic (0-100)'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_traffic_day_keyword'));
      var  chart_top_keywords_traffic = new google.visualization.ColumnChart(document.getElementById('chart_top_keywords_traffic'));

      chart.draw(data, options);
      chart_top_keywords_traffic.draw(top_keywords_traffic,  top_keywords_traffic_options);
    }
    // END -- GOOGLE CHARTS --//
    
:scss
    // Place all the styles related to the home controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: http://sass-lang.com/

    //VARIABLES
    $bg-color: #FFFFFF;
    $bg-light: #F5F5F5;
    $bg-dark: #37474F;
    $main-color: #37474F;
    $primary-color: #E57C29;

    .trans {
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       transition: all 0.3s;
    }
    //SEMRUSH DASHBOARD STYLE
    body{
      font-size: 1.0em;
      line-height: 100%;
      text-align: left;
      overflow-x: hidden;
      -webkit-text-size-adjust: none;
      -webkit-font-smoothing: antialiased;
      ::-moz-selection { background: rgba($primary-color,0.8); color: #ffffff!important; }
      ::selection { background: rgba($primary-color,0.8); color: #ffffff!important; }
    header{
      h1{
        margin: 0;
        font-size: 35px;
        font-size: 3.5rem;
      }
    }
    #semrush-dashboard{
      padding: 0 0 50px 0;
        p{
          font-size: 17px;
          font-size: 1.7rem;
          line-height: normal;
        }
        h2{
          font-size: 30px;
          font-size: 3rem;
        }
        h3{
          font-size: 25px;
          font-size: 2.5rem;
        }
        h4{
          font-size: 21px;
          font-size: 2.1rem;
        }
        h5{
          font-size: 19px;
          font-size: 1.9rem;
        }
        a{
          @extend .trans;
          font-size: 17px;
          font-size: 1.7rem;
          line-height: normal;
          font-weight: 600;
          color: $primary-color;
          &:hover{
            color: $bg-dark;
          }
        }
      }
      h2{
        padding: 0 0 10px 0;
        margin: 0 0 15px 0;
        border-bottom: 2px solid $primary-color;
      }
      h3, h4, h5{
        margin: 0 0 15px 0;
      }
      table{
        font-size: 17px;
        font-size: 1.7rem;;
        thead{
          tr{
            th{
    //          border-color: $primary-color;
            }
          }
        }
        &.top-keywords{
          tr{
            td{
              text-align: right;
              border: none;
              border-bottom: 1px solid #DDDDDD;
              &:nth-child(1){
                text-align: left;
                font-weight: 600;
              }
            }
          }
        }
      }
      #chart_traffic_day_keyword, #chart_top_keywords_traffic{
        border: 1px solid #DDDDDD;
        margin: 25px 0;
        padding-bottom: 20px;
        background: $bg-color;
      }
    }
    #edit-app-settings{
      display: none;
      margin-top: 25px;
      *{
        font-size: 15px;
        font-size: 1.5rem;
      }
      #settings_form{
        .panel-heading{
          font-size: 18px;
          font-size: 1.8rem;
          font-weight: bold;
        }
        input{
          margin: 5px 0 15px 0;
        }
      }
    }

    //TABLE SPECIAL STYLE
    #data-table_wrapper{
      .popover{
        width: 200px;
      }
      #data-table_length{
        float: left;
        margin-bottom: 15px;
        select{
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
          padding: 7px 25px 7px 10px;
          background-repeat: no-repeat;
          background-position: right center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:focus{
            outline: none;
            border-color: $primary-color;
          }
        }

        *{
          font-size: 17px;
          font-size: 1.7rem;
          line-height: normal;
        }
      }
      #data-table_filter{
        float: right;
        margin-bottom: 15px;
        *{
          font-size: 17px;
          font-size: 1.7rem;
          line-height: normal;
        }
        input{
          border-radius: 5px;
          padding: 7px 10px;
          background-color: rgb(248, 248, 248);
          border: 1px solid rgb(166, 166, 166);
          &:focus{
            outline: none;
            border-color: $primary-color;
          }
        }
      }
      #data-table_info{
        float: left;
        padding: 0;
        font-weight: 600;
        margin-top: 20px;
        font-size: 17px;
        font-size: 1.7rem;
        line-height: normal;
      }
      #data-table_paginate{
        float: right;
        margin-top: 20px;
        a{
          padding: 5px;
          &.current{
            color: #FFFFFF;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    //BOOTSTRAP OVERWRITE
    .dataTable thead .sorting:before{
      display: none;
    }
    .dataTables_filter input{
      height: auto
    }
    .well{
      margin-bottom: 20px;
    }
    .nav-pills{
      li{
        float: none;
        margin-bottom: 10px;
        a{
          width: 100%;
          display: block;
          background: $bg-light;
          &:hover{
            background-color: $bg-dark;
            color: #FFFFFF;
          };
        }
        &.active{
          a, a:focus{
            background-color: $bg-dark;
            color: #FFFFFF;
          }
        }
      }
    }
    .btn{
      @extend .trans;
      background: $bg-dark;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #FFFFFF;
      margin-top: 5px;
      &:hover{
        background: $primary-color;
        color: #FFFFFF;
      };
    }




