= image_tag(image_url('job_adder.png'), class: 'pull-right')

.volcanic_apps
  .row
    .col-lg-3.col-md-12
    .col-lg-6.col-md-12
      %h4 JobAdder is able to post jobs to this website.

      %p
        You can contact JobAdder AUS Support on the following number:
      %p
        +61 2 8011 3477
      #flash_messages
      .row
        .col-md-12
          #ja_settings_form
            = render partial: 'ja_form'