.row
  .col-md-1
  .col-md-9
    = link_to 'Sign in to your account', @host + "/sso/#{@profile.api_key}?redirect_url=/data_import/welcome", class: "btn btn-info btn-lg"


%br
%hr.featurette-divider
%br
