.volcanic_apps
  .row
    .col-lg-3.col-md-12
    .col-lg-6.col-md-12
      %h3 This Bond Adapt App sync's Candidate data between Volcanic and Bond Adapt
      %hr
      %p You can contact Bond Adapt on the following number:
      %p +44 (0) 1903 707070
      %hr

      #flash_messages

      .row
        .col-md-12
          #settings_form
            = render partial: 'settings_form'