= stylesheet_link_tag "application"
= javascript_include_tag "application"

%h3
  Default Promotions
  = render 'promo_table', promo_items: @defaults, rendering_defaults: true

%h3
  Promotions
  = render 'promo_table', promo_items: @promotions, rendering_defaults: false
