%h4 Edit Inventory Item

= render 'form'

:javascript
  $(function() {
    $('form').submit(function() {
      var formData = $(this).serialize();
      $.ajax({
        url: 'http://localhost:3001/inventories/create_item.json',
        type: "POST",
        data: formData,
        dataType: 'json',
        xhrFields: { withCredentials: true }
      }).complete(function(data) {
        window.location = "/admin/apps/9/index";å
      });
      return false;
    });
  });

= link_to 'Back to Inventory', '/admin/apps/9/index'