%h4 Add New Inventory Item

= render 'form'

:javascript
  $(function() {
    $('form').submit(function() {
      var formData = $(this).serialize();
      $.ajax({
        url: 'http://localhost:3001/inventories/create_item.json',
        type: "POST",
        crossDomain: true,
        data: formData,
        dataType: 'json'
      }).success(function(data) {
        if(data.success) {
          window.location = "/admin/apps/9/index";
        } else {
          $('.errors').html(data.status);
        }
        return false;
      });
      return false;
    });
  });

= link_to 'Back to Inventory', '/admin/apps/9/index'