= image_tag(image_url('Recruitive.png'), class: 'pull-right')
%h4 Recruitive is able to post jobs to this website.

%p
  You can contact Recruitive UK Support on the following number:
%p
  0845 60 00 550