#filtered-notifications-modal{
  label{
    cursor: pointer;
    &.company-element{
      display: table-cell;
      width: 25%;
      float: left;
      height: 100px;
      margin-bottom: 0;
    }
  }
  
  .client-box{
    padding: 30px 10px;
    line-height: 1em;
    height: 100%;
    position: relative;
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
      max-height: 30px
    }
    &:after{
      position: absolute;
      top: 0;
      bottom: 0;
      left:0;
      right: 0;
      z-index: 0;
      content: "";
      text-align: right;
      padding: 10px;
      font-size: 20px;
    }
    .client-link{
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: 100;
      a{
        font-size: 15px;
        display:inline-block;
        z-index: 100;
      }
    }
  }
  :checked + .client-box{
    background: #DFF0D8;
    // border: 2px solid #5cb85c;
    -webkit-box-shadow: inset 0px 0px 40px 0px #B2DBA1;
       -moz-box-shadow: inset 0px 0px 40px 0px #B2DBA1;
            box-shadow: inset 0px 0px 40px 0px #B2DBA1;
    // color: white;
    &:after{      
      content: "\f00c";
      font-family: "FontAwesome";
      color: #049604;      
    }
  }
}