.volcanic_apps
  .row
    .col-md-3
      = image_tag(image_url('eventbrite.png'), class: 'img-responsive')

    .col-md-9
      %h3 Eventbrite automates sending and receiving events from your website.
      %hr.featurette-divider

      %p
        You can contact Eventbrite UK Support on the following number:
      %p
        +44 (0)800 652 8399

      %br

      %p
        Please enter your Eventbrite API credentials:

      = render partial: "form"


  %br
  %hr.featurette-divider
  %br
