.modal.fade#credentialsInfo{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header.bg-info
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Requesting Authentication Settings
      .modal-body
        Authentication settings need to be requested from Bullhorn directly as a support ticket. A sample request you can use is included below:

        .well
          %p Hello Bullhorn Support,
          %p Please could you provide us with the credentials we need to allow our website provider Volcanic access the REST API for our account?
          %p Can you confirm that we will receive the username and password of the API user, along with the client_id and client_secret needed for the OAuth process to access the REST API.
          %p Many thanks,

        %p Once you have received these details you can enter them in the settings form and start setting up your Bullhorn integration.
            
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close