= image_tag(image_url('daxtra.jpg'), class: 'pull-right')
%h4 Emails are compatible with Daxtra Capture

%p
  Registration and Application emails are specially formatted so Mail Data can be extracted by the Daxtra

%p
  You can contact Daxtra support on the following email:
%p
  support@daxtra.com
