.volcanic_apps
  .row
    .col-md-3


    .col-md-9
      %h3 Job Adder.
      %hr.featurette-divider

      %p
        You can contact People using a telephone!
      %p
        

      %br

      #flash_messages
