.volcanic_apps
  .row
    .col-md-3


    .col-md-9
      %h3 Job Adder.
      %hr.featurette-divider

      %p
        This is the Job adder app page.
      %p
        

      %br

      #flash_messages
