.row
  .col-md-6
    .form-group
      %label{for: "client_extra_cv_search_duration"}= "Add CV Search Access (currently #{@latest.present? ? distance_of_time_in_words(@latest.expiry_date, Time.now) : '0 days'} remaining)"
      .input-group

        %input.form-control#client_extra_cv_search_duration{name: "client[extra][cv_search][duration]"}
        .input-group-addon= "x #{@job_board.cv_search_settings.cv_search_duration} Days" 

.row
  .col-md-6
    .form-group
      %label{for: "client_extra_vat_rate" } Custom VAT Rate
      - if @vat_rate.present?
        %input{type: "hidden", name: "client[extra][vat_rate][old_vat_rate]", value: @vat_rate.vat_rate}
      .input-group        
        %input.form-control#client_extra_vat_rate{name: "client[extra][vat_rate][new_vat_rate]", type: "number", min: 0, step: "0.01", value: @vat_rate.vat_rate}
        .input-group-addon %